@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.container{
    background-color: #80A62E;
    font-family: 'Luckiest Guy', cursive;
    padding-top: 40px;
};
#exampleInputEmail1{
    margin-bottom: 200px;
    margin-top:0px;
    color:#068BBF;
};
#titulo{
margin-left:5px ;
color: #643073;

};
.list-group{
    margin-top:1px;
    color: #A80521;
}

 


/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
